<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="GigaSpaces" type="GigaSpaces.Core.Configuration.GigaSpacesCoreConfiguration, GigaSpaces.Core"/>
  </configSections>
  <GigaSpaces>
    <!-- Uncomment to override the installation setting. -->
	<!-- <XapNetSettingsFile Path="..\..\..\Config\Settings.xml"/> -->
  </GigaSpaces>
<system.diagnostics>
    <sources>
      <source name="GigaSpaces.Core" switchValue="Verbose">
        <listeners>
	       <add name="TextWriterListener"/>
		   <add name="TraceListener"/>
        </listeners>
      </source>
	  <!--  The ProcessingUnit source will not produce any trace in this example  -->
	  <!-- 
	  <source name="GigaSpaces.XAP.ProcessingUnit" switchValue="Information">
        <listeners>
           <add name="XmlWriterListener"/>
        </listeners> 
      </source>
	  -->
    </sources>
    <sharedListeners>
	  <add name="TextWriterListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="TraceTextWriterOutput.log" />
	  <add name="XmlWriterListener" type="System.Diagnostics.XmlWriterTraceListener" initializeData="TraceXmlWriter.xml" />
	  <add name="TraceListener" type="System.Diagnostics.EventLogTraceListener" initializeData="GigaSpaces"/>
    </sharedListeners>
  </system.diagnostics>
</configuration>