<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="ProcessingUnit" type="GigaSpaces.XAP.Configuration.ProcessingUnitConfigurationSection, GigaSpaces.Core"/>
  </configSections>
  <ProcessingUnit>
    <EmbeddedSpaces>
      <add Name="BillBuddySpace">
        <Properties>
          <!-- Set space cache policy to All-In-Cache -->
          <add Name="space-config.engine.cache_policy" Value="1"/>
          <add Name="cluster-config.cache-loader.external-data-source" Value="false"/>
          <add Name="cluster-config.cache-loader.central-data-source" Value="false"/>
          <!-- TODO-->
          <!-- Configure Mirror Service set it to enabled and configure mirror URL. Tip: use lesson presentation -->
        </Properties>
        <ExternalDataSource Type="GigaSpaces.Practices.ExternalDataSource.NHibernate.NHibernateExternalDataSource"
							Usage="ReadOnly">
          <Properties>
            <add Name="nhibernate-hbm-dir" Value="config"/>
            <add Name="nhibernate-config-file" Value="config\hibernate.cfg.xml"/>
            <!-- Reduce the number of initial load threads for this example, to avoid overwhelming the database with too many concurrent sessions-->
            <add Name="InitialLoadThreadPoolSize" Value="3"/>
          </Properties>
        </ExternalDataSource>
      </add>
    </EmbeddedSpaces>
  </ProcessingUnit>
</configuration>